/* style.css */
@keyframes moveBG {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 100% 100%;
  }
}

body {
  font-family: 'Arial', sans-serif;
  background-image: url('https://i.pinimg.com/564x/ed/d1/2a/edd12ac0bfa1a0933fd8f862780aeb51.jpg');
  background-size: cover;
  animation: moveBG 10s linear infinite;
  color: #fff;
  margin: 0;
}

.container {
  max-width: 800px;
  margin: 50px auto;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

h1 {
  text-align: center;
  color: #f39c12;
}

.input-group {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

#search-input,
#searchDropdown,
#search-button {
  padding: 10px;
  font-size: 16px;
}

#search-input {
  flex: 1;
  border: none;
  border-radius: 4px 0 0 4px;
}

#searchDropdown {
  border: none;
  border-radius: 0;
}

#search-button {
  cursor: pointer;
  background-color: #f39c12;
  color: #fff;
  border: none;
  border-radius: 0 4px 4px 0;
}

#search-button:hover {
  background-color: #e07e02;
}

.results {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.result-item {
  width: 200px;
  margin: 20px;
  padding: 10px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
  border-radius: 8px;
  background-color: rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease-in-out;
}

.result-item:hover {
  transform: scale(1.05);
}

.result-item img {
  width: 100%;
  height: auto;
  border-radius: 4px;
  margin-bottom: 10px;
}

.comment-section {
  margin-top: 10px;
}

.comment-input {
  width: 100%;
  padding: 8px;
  margin-bottom: 8px;
  border: none;
  border-radius: 4px;
}

.comment-button {
  padding: 8px;
  font-size: 14px;
  cursor: pointer;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 4px;
}

.comment-button:hover {
  background-color: #45a049;
}

.delete-button,
.like-button {
  padding: 8px;
  font-size: 14px;
  cursor: pointer;
  border: none;
  border-radius: 4px;
}

.delete-button {
  background-color: #d9534f;
  color: #fff;
}

.delete-button:hover {
  background-color: #c9302c;
}

.like-button {
  background-color: #5bc0de;
  color: #fff;
}

.like-button.liked {
  background-color: #46b8da;
}

.like-button:hover {
  background-color: #31b0d5;
}

.likes-count {
  margin-left: 5px;
  font-weight: bold;
}

/* Additional Features */
input[type="text"]::placeholder {
  color: #bbb;
}

.select-dropdown {
  position: relative;
}

.select-dropdown:before {
  content: '\25BC';
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  color: #f39c12;
  font-size: 18px;
}

#searchDropdown {
  padding: 10px;
  font-size: 16px;
  border: 2px solid #f39c12; /* Border color */
  border-radius: 4px;
  background-color: #fff; /* Background color */
  position: relative;
}

h2{
  color: black;
}
p{
  color: #c9302c;
}

